@import '../../scss/variables';

.signup {
  &__title {
    font-size: 2.5em;
    font-weight: bold;
    margin: 10% 0 2% 0;
  }

  &__submit {
    margin: 30px 0px 0px 0px;
  }

  &__username {
    &.block {
      display: flex;
    }

    &.firstname,
    &.lastname {
      input {
        width: 170px;
      }
      margin: 0px 10px 0px 0px;
    }
  }

  .btn {
    &__loader {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__loader {
    margin: 0px 10px;
    width: 23px;
    height: 23px;
  }

  &__email,
  &__dateOfBirth,
  &__terms,
  &__password,
  &__password-confirm {
    margin: 15px 0px;
  }
}
