@import '../../scss/variables';

.login {
  &__main-block {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__left-side {
    height: 100%;
    width: 100%;
  }

  &__divider {
    border-left: 1px solid $black-color;
    height: 350px;
    display: flex;
    align-items: center;

    .or {
      margin-left: -50%;
      padding: 10px 0px;
      background-color: $white-color;
    }
  }

  &__right-side {
    height: 100%;
    width: 100%;
    display: flex;

    flex-direction: column;
    align-items: flex-end;

    .material-btn {
      margin: 30px 0px;

      &.google {
        background-color: $google-red-color;
      }

      &.facebook {
        background-color: $facebook-blue-color;
      }

      &.google,
      &.facebook {
        i {
          margin: 0px 10px;
        }
      }
    }
  }

  .btn {
    &__loader {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__loader {
    margin: 0px 10px;
    width: 23px;
    height: 23px;
  }

  &__title {
    font-size: 2.5em;
    font-weight: bold;
    margin: 10% 0 2% 0;
  }

  &__email,
  &__password,
  &__button {
    margin: 30px 0px;
  }

  &__link {
    font-size: 1.15em;
    margin: 10px 0px;
    .link:hover {
      color: $link-hover-color;
      text-decoration: underline;
    }
  }
}
