@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,700;1,700&display=swap');

@import '../../scss/variables';

.navbar {
  height: 6vh;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(150%) blur(10px);
  font-size: 12px;

  &--container {
    width: 75vw;
    margin: 0px auto;

    height: inherit;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-image {
    height: 28px;
    width: 28px;
    cursor: pointer;
    filter: invert(98%) sepia(100%) saturate(9%) hue-rotate(146deg) brightness(101%) contrast(104%);
  }

  &__links {
    display: flex;
    align-items: center;

    &-link {
      font-size: $nav-item-size;
      color: $white-color;
      margin: 10px 5px;
      padding: 5px 15px;
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.2s ease-in;

      &:hover {
        color: darken($white-color, 30%);
      }

      .bag {
        &__icon {
          font-size: $nav-icon-size;
        }
      }

      .user {
        &__icon {
          font-size: $nav-icon-size;
        }
        &__username {
          margin: 0px 5px;
        }
      }
    }
  }
}
