@import './scss/variables';
@import './scss/common';
@import './scss/utilities';

nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}

.container {
  margin: 3.75em auto;
  min-height: calc(100vh - 200px - 3.75em);
  &__main {
    width: 75vw;
  }
}
