@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  /* background-color: #f9f6ef; */
}

/* width */
::-webkit-scrollbar {
  /* width: 8px; */
  display: none;
}

/* Track */
/* ::-webkit-scrollbar-track {
  background: #f9f6ef;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #888888;
  border-radius: 8px;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555555;
} */
