@import './variables';

.container {
  &__main {
    width: 75vw;
    margin: 3.75em auto;
  }
}

.material-input-outline {
  position: relative;
  font-size: 1em;

  padding-top: 20px;
  margin-bottom: 20px;

  input {
    border: none;
    border: 2px solid $nav-color;
    appearance: none;
    padding: 15px;
    border-radius: 10px;
    width: 350px;
    outline: none;
    font-size: 1em;
    margin: 25px 0px;
  }

  .placeholder {
    position: absolute;
    left: 15px;
    font-size: 1em;
    top: calc(50% + 9px);
    transform: translateY(-50%);
    color: black;
    transition: all 0.3s ease-out;
  }

  & input:valid + .placeholder,
  & input:focus + .placeholder {
    top: 6px;
    left: 15px;
    font-size: 0.9em;
    font-weight: bold;
    background-color: $white-color;
    padding: 0px 5px;
    color: $nav-color;
  }

  // Error message
  .input__error {
    font-size: 0.8em;
    margin: 8px 12px;
    color: $danger-color;
  }
}
