@import './variables';

.container {
  &__main {
    width: 75vw;
    margin: 3.75em auto;
  }
}

.loading-spinner {
  min-width: 22px;
  min-height: 22px;
  border: 5px solid rgba(255, 255, 255, 0.1);
  border-right: 5px solid $primary-color;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.material-btn {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.25em;
  padding: 15px 25px;
  color: $white-color;
  border-radius: 5px;
  width: 350px;
  background-color: $primary-color;
  transition: all 0.2s ease-in;

  &:hover {
    opacity: 0.8;
  }
}

Link,
a {
  text-decoration: none;
  color: $black-color;
}
