// Common palette
$black-color: #000000;
$grey-color: #555555;
$white-color: #ffffff;

// Danger color
$danger-color: #f32013;

// Main color Palette
$primary-color: #3772ff;

// Footer
$footer-background-color: #f5f5f7;
$footer-font-color: #094846;

// Links
$link-hover-color: #0645ad;

// Navigation
$nav-color: rgba(0, 0, 0, 0.8);
$nav-item-size: 1em;
$nav-icon-size: 1.25em;

// Brand colors
$google-red-color: #db4437;
$facebook-blue-color: #4267b2;
