//Primary
$black-color: #000000;
$grey-color: #555555;
$white-color: #ffffff;

$footer-background-color: #eeeeee;
$footer-font-color: #094846;

$link-hover-color: #0645ad;

$nav-item-size: 1em;
$nav-icon-size: 1.25em;
