@import '../../scss/variables';

.slider {
  width: 100%;
  margin: 6vh 0px;

  &__slide {
    &-img {
      border-radius: 0px;
      width: inherit;
      object-fit: cover;
      height: 75vh;
    }
  }
}
